.Rproj.user
.Rhistory
.RData
.Ruserdata
dischage09.png
dischage10.png
discharge09.pdf
discharge10.pdf
runoff_imp_dry.pdf
runoff_imp_dry.png
runoff_imp_wet.pdf
runoff_imp_wet.png
storm_plot_09.jpeg
storm_plot_09.pdf
storm_plot_09.png
storm_plot_10.jpeg
storm_plot_10.pdf
storm_plot_10.png
